<!--
<h1>{{exercice.nom}}</h1>
Par : {{exercice.auteur}}<br>


<p>
	<br><br><br>
	exo créé le  : {{exercice.date_creation}}<br>
	lien de l'exo  : {{exercice.link}}<br>

</p>
 

-->



	 <div class="panel panel-success" style="width: 100%;">
  <div class="panel-heading">
    <h3 class="panel-title">{{exercice.nom}}</h3>
  </div>
  <div class="panel-body">
<p>
	

	exo => temps  : {{exercice.temps}}<br>
<form action = "http://localhost/brainss/web/app_dev.php/show_exercice" method = "get">



<div ng-repeat="partie in exercice.exo_parties" >
<hr><hr>

	 {{partie.titre}}

	 



	 <div ng-repeat="question in partie.exo_questions" >
<hr>
	 	{{question.question}}   ( bareme :   {{question.bareme}} points  )


 
	<form >

<br>
  <input type="radio" ng-model="vvv" value="1"> {{question.choix1}}  &nbsp  &nbsp  &nbsp
  <input type="radio" ng-model="vvv" value="2"> {{question.choix2}} &nbsp  &nbsp  &nbsp
  <input type="radio" ng-model="vvv" value="3"> {{question.choix3}} &nbsp  &nbsp  &nbsp
  <input type="radio" ng-model="vvv" value="4"> {{question.choix4}} &nbsp  &nbsp  &nbsp
  <input type="hidden" name="reponse" value="{{question.valeur}}"> 
</form>

 

  <div ng-switch="vvv">
  <div ng-switch-when="question.valeur">
     <h2>{{question.valeur}}</h2>

  </div>
  
 
</div>

	 	

	 </div>



</div>

<!--  <input type="submit" value="Valider"> -->


</p>
  </div>
</div>


 