<!--
<h1>{{exercice.nom}}</h1>
Par : {{exercice.auteur}}<br>


<p>
	<br><br><br>
	exo créé le  : {{exercice.date_creation}}<br>
	lien de l'exo  : {{exercice.link}}<br>

</p>
	<a target="_blank"  href="{{exercice.link}}">Contenu</a>


-->



	 <div class="panel panel-success" style="width: 100%;">
  <div class="panel-heading">
    <h3 class="panel-title">{{exercice.nom}}</h3>
  </div>
  <div class="panel-body">
<p>
	

	exo => temps  : {{exercice.temps}}<br>
<form action = "">

<div ng-repeat="partie in exercice.exo_parties" >
<hr><hr>

	 {{partie.titre}}

	 



	 <div ng-repeat="question in partie.exo_questions" >
<hr>
	 	{{question.question}}   ( bareme :   {{question.bareme}} points  )


 

<br>
  <input type="radio" name="{{question.id}}" value="1" checked> {{question.choix1}}  &nbsp  &nbsp  &nbsp
  <input type="radio" name="{{question.id}}" value="2" checked> {{question.choix2}} &nbsp  &nbsp  &nbsp
  <input type="radio" name="{{question.id}}" value="3" checked> {{question.choix3}} &nbsp  &nbsp  &nbsp
  <input type="radio" name="{{question.id}}" value="4" checked> {{question.choix4}} &nbsp  &nbsp  &nbsp
 



	 	

	 </div>



</div>

  <input type="submit" value="Valider">

</form>

</p>
  </div>
</div>


<script type="text/javascript">
	
	console.log("hello");
</script>