<div ng-show="loading"><img src="images/loader.gif"></div>
<div ng-hide="loading">
<!--

<select ng-model="order">
	<option value="username">organiser par nom</option>
	<option value="content">organiser par contenu</option>

</select>

-->

<a href="#/">retour aux Filieres</a>


<h1>{{nom}}</h1>

 

   
   <div ng-repeat="exercice in exercices" >
	<p>
		Nom de l'exo : {{exercice.nom}}<br>
		Contenu de l'exo : {{exercice.contenu}}<br>
		Auteur de l'exo : {{exercice.auteur}}<br>
		exo créé le  : {{exercice.date_creation}}<br>
		et maj le  : {{exercice.date_maj}}<br>
		lien de l'exo  : {{exercice.link}}<br>

	</p>

<!--
	<a href="#/exercices/{{id}}/contenu/{{exercice.id}}">Contenu</a>

-->

	<a href="C:/wamp/www/brainss/src/Brains/views/TC/S/exercices/TCCCC.html">Contenu</a>


	<hr>
</div>

 


</div>

