 {% extends "BrainsPlatformBundle::layout.html.twig" %}
 

{% block body %}


<div id="dialog-form" title="Ajouter une question" disabled>



 {{ render(controller("BrainsPlatformBundle:Question:show_question", {"id":35})) }}





</div>
 
 

<!--
<div id="users-contain" class="ui-widget">
  <h1>Questions</h1>

</div>

-->
<button id="create-user">Questions de l'exercice 35</button>


    {% endblock %}