

    <h3 ng-bind="appTitle"></h3>
 

<div ng-show="loading">

	Chargement en cours<br>
	<img src="images/loader.gif">
	
	
</div>








  <div ng-show="parties.length > 0" ng-hide="loading">



<!--  tracker le nombre d'ouvertures de l'exo  -->
<span ng-bind="view(exo_id, user.user.id)"></span>
      
       <form name="exoForm">
        
          <div ng-repeat="partie in parties ">
          
            <p>{{partie.titre}}<br>
            {{partie.contenu}}</p>

            <div ng-repeat="quest in partie.exo_questions ">
              <p>{{quest.question}}</p>
                <!--   Réponses   -->
                <input type="checkbox" ng-model="quest.rep_1" value="quest.choix_1" checked="checked"/>{{quest.choix_1}}     &nbsp &nbsp &nbsp
                <input type="checkbox" ng-model="quest.rep_2" value="quest.choix_2">{{quest.choix_2}}     &nbsp &nbsp &nbsp
                <input type="checkbox" ng-model="quest.rep_3" value="quest.choix_3">{{quest.choix_3}}     &nbsp &nbsp &nbsp
                <input type="checkbox" ng-model="quest.rep_4" value="quest.choix_4">{{quest.choix_4}}     &nbsp &nbsp &nbsp

               

            </div>

            

           </div>
           <br><br>
            <button
           ng-click = "evaluateForm()">
            Valider             
           </button>
<br>
<div ng-if="max>0 && evaluation < max">
           votre score :  {{evaluation}} / {{max}}
</div>

<div ng-if="max>0 && evaluation == max">
           votre score :  {{evaluation}} / {{max}} <br>
           well done 
           <!--  tracker le nombre de fois les users ont résolu l'exercice  -->
           <span ng-bind="solve(exo_id)"></span>

</div>
         </form>
       
    </div>



