<!doctype html>
<html ng-app="brains">
	<head>
    	<title>Exercices</title>
 
    	<script src="js/lib/angular.js"></script>
    	<script src="js/app.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/services.js"></script>
    	<script src="js/filters.js"></script>
      <script src="js/directives.js"></script>
    	<script src="js/constants.js"></script>


    	<link rel="stylesheet" type="text/css" href="css/app.css">



	</head>
 

 


  <body ng-controller="exercicesCtrl">


<div class="col-md-6 col-md-offset-3">


<h1>Bienvenue, {{user.user.username}}</h1>
 <p><a href="#/login">Logout</a></p>
    <h3 ng-bind="appTitle"></h3>


<div ng-show="loading">

  Chargement en cours<br>
  <img src="images/loader.gif">
  
  
</div>



 
<div ng-show="exos.length>0" ng-hide="loading">

<div>Top Solved</div>
<hr>


 <div ng-repeat="exo_s in exos | orderBy: 'nb_solves' : reverse">

  <!--<div ng-if="has_seen(exo_s.id,user.user.id)!=10000">-->
    {{exo_s.nom}} &nbsp
    {{exo_s.nb_solves}}
    {{has_seen(3,3)}}
    {{has_seen(3,1)}}
</div>
 

  <hr>


<div>New Exos</div>
<hr>

<div ng-repeat="exo in exos | orderBy: 'date_creation' : reverse=true">
    {{exo.nom}} &nbsp
    {{exo.date_creation  | date: 'dd/MM/yyyy'}} &agrave {{exo.date_creation|date: 'HH:mm:ss'}}<br>

  </div>  

<hr>
<div>Top Visited</div>
<hr>


 <div ng-repeat="exo_v in exos | orderBy: 'nb_views' : reverse">
<a  href="#/exercice/{{exo_v.id}}" target="_blank">{{exo_v.nom}}</a>
     &nbsp
    {{exo_v.nb_views}}

  </div>

  <hr>

<div>Top Rated

<hr>
  <div ng-repeat="exo_r in exos | orderBy: 'rating' : reverse">
    {{exo_r.nom}} &nbsp
    {{exo_r.rating}}<br>
  </div>




</div>
<hr>

<div>Exos Par Cours</div>
<hr>





 

 </div>

</div>
</body>

    
 





</html>