<!doctype html>
<html ng-app="brains">
	<head>
    	<title>Exo</title>
 
    	<script src="js/lib/angular.js"></script>
    	<script src="js/app.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/services.js"></script>
    	<script src="js/filters.js"></script>
      <script src="js/directives.js"></script>
    	<script src="js/constants.js"></script>


    	<link rel="stylesheet" type="text/css" href="css/app.css">

    	

 

	</head>
 


  <body ng-controller="brainsCtrl">
    <h3 ng-bind="appTitle"></h3>
    <div ng-show="parties.length > 0">

      
       <form name="exoForm">
        
          <div ng-repeat="partie in parties ">
          
            <p>{{partie.titre}}<br>
            {{partie.contenu}}</p>

            <div ng-repeat="quest in partie.exo_questions ">
              <p>{{quest.question}}</p>
                <!--   Réponses   -->
                <input type="radio" ng-bind="rep">{{quest.choix1}}     &nbsp &nbsp &nbsp
                <input type="radio" ng-bind="rep">{{quest.choix2}}     &nbsp &nbsp &nbsp
                <input type="radio" ng-bind="rep">{{quest.choix3}}     &nbsp &nbsp &nbsp
                <input type="radio" ng-bind="rep">{{quest.choix4}}     &nbsp &nbsp &nbsp

            </div>

            

           </div>

           <button
           ng-click = "evaluateForm(quest.valeur, rep)">
            Valider             
           </button>

         </form>
       
    </div>
    

<br>
<br>
<br>
<br>
<br>




  <form name="carForm">
    <input type="text" 
    name="plateField" 
    ng-model="car.plate" 
    placeholder="what's the plate?" 
    ng-pattern="/[A-Z]{3}[0-9]{3,7}/"
    ng-required="true"
    ng-minlength="6"
    ng-maxlength="10"
    >

  <button 
      ng-click="park(car)" 
      ng-disabled="carForm.$invalid"
     >
       Park
    </button>
  </form>

 
    
 





</html>