 
 {% extends "BrainsUserBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('BP_show_exercice') }}">Exercices</a></li>
  <li>MAJ</li>
 
</ul>

<h3>Exercice</h3>

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}