 
 {% extends "BrainsUserBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('BP_show_exercice') }}">Exercices</a></li>
  <li><a href="{{ path('BP_show_exo_partie', {'id': exo_id}) }}">Parties</a></li>
  <li><a href="{{ path('BP_show_exo_question', {'id': partie_id}) }}">Question</a></li>
    <li>MAJ</li>
 
</ul>

<h3>Question</h3>

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}