 
 {% extends "BrainsUserBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('BP_show_filiere') }}">Filières</a></li>
  <li><a href="{{ path('brains_platform_n_filiere') }}">Ajouter</a></li>
 
</ul>

<h3>Nouvelle Filière</h3>

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}