 {% extends "BrainsPlatformBundle::layout.html.twig" %}
 


{% block body %}

 
<h1>Public chat</h1>
<ul id="chat-list"></ul>
<hr>
<textarea id="form-message" placeholder="Your public message here"></textarea>
<input type="button" id="form-submit" value="Send message"/>





{% endblock %}